.block1{
    width: 800px;
    height: 800px;
    background: linear-gradient(150deg, rgba(238,189,8,1) 7%, rgba(204,27,179,1) 50%, rgba(149,24,194,1) 75%);
    border-radius: 150px;}

.block2{
    width: 600px;
    height: 600px;
    border: 50px solid white;
    border-radius: 140px;
    position: relative;
    top: 40px;
    left: 40px;}

.block3{
    width: 300px;
    height: 300px;
    border: 50px solid white;
    border-radius: 250px;
    position: relative;
    top: 100px;
    left: 100px;}

.block4{
    height: 0px;
    width: 0px;
    border: 40px solid white;
    border-radius: 1000px;
    position: relative;
    top: -360px;
    left: 460px

}